
<p class='title'>Hover over an icon to see the directive in action</p>

<ul>
  <li><mat-icon appNeon neonColor="red">favorite</mat-icon></li>
  <li><mat-icon appNeon neonColor="greenYellow">pie_chart</mat-icon></li>
  <li><mat-icon appNeon>pets</mat-icon></li>
</ul>

<ul>
  <li><mat-icon appNeon>eco</mat-icon></li>
  <li><mat-icon appNeon neonColor="turquoise">cloud</mat-icon></li>
  <li><mat-icon appNeon neonColor="salmon">color_lens</mat-icon></li>
</ul>

<ul>
  <li><mat-icon appNeon neonColor="sandyBrown">camera</mat-icon></li>
  <li><mat-icon appNeon>style</mat-icon></li>
  <li><mat-icon appNeon neonColor="red">local_fire_department</mat-icon></li>
</ul>


