ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

mat-icon {
  font-size: 40px;
  color:#4b4b4b;
}

.title {
  color: darkgray;
  margin: 40px 0;
  width: 200px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: darkgray;
}
